@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic",
  sans-serif;
  background-color: #1e1e1e;
  color: #f0f8ff;
}

.load-button {
  background-color: #f0f8ff;
  color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}